@import "tailwindcss";

:root {
  --text: #000000;
  --text-h: #08060d;
  --text-orange: #a25312;
  --text-green: #088a7d;
  --sub-text-green: #006B5F;
  --text-light-orange: #b9672c;
  --bg: #D0D0CC;
  --bg2: #D9791C;
  --border: #AAA8AF;
  --code-bg: #C2C2BE;
  --bg-green: #23c28a;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  background-color: #B5B5B1;
}


[data-theme="dark"] {
    --text: #ffffff;
    --text-l: #f3f4f6;
    --text-d: #000000;
    --text-orange: #F9913A;
    --text-green: #00A392;
    --sub-text-green: #006B5F;
    --text-light-orange: #FFB783;
    --bg: #1B1B23;
    --border: #46464F;
    --bg2: #B95F00;
    --bg-green: #0e5c34;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    
    background-color: #0f0f0f;
  }


body {
  margin: 0;
}

input[type="date"] {
  color-scheme: dark;
}

input[type="date"].light-mode {
  color-scheme: light;
}