@import "tailwindcss";

:root {
  --text: #000000;
  --text-h: #08060d;
  --text-green: #00A392;
  --sub-text-green: #006B5F;
  --text-light-orange: #FFB783;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --bg-green: #003731;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  background-color: #e0dfdf;
  /* @media (max-width: 1024px) {
    font-size: 16px;
  } */
}


[data-theme="dark"] {
    --text: #ffffff;
    --text-l: #f3f4f6;
    --text-d: #000000;
    --text-orange: #F9913A;
    --text-green: #00A392;
    --sub-text-green: #006B5F;
    --text-light-orange: #FFB783;
    --bg: #1B1B23;
    --border: #46464F;
    --bg2: #B95F00;
    --bg-green: #003731;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    
    background-color: #0f0f0f;
  }


body {
  margin: 0;
}
/* SideBar and Summary button control*/
.sideBarOff{
  display: none;
}
.summaryBarOff{
  display: none;
}
.sideBarActive{
  display: block;
  svg{
    fill: var(--text-green)
  }
}
.summaryBarActive{
  display: block;
  svg{
    fill: var(--text-green)
  }
}
.date_mid{
  display: none; /* the date in the middle column of the uploads detail container*/
}
/* Responsive Layout*/

@media(max-width: 1360px) {
  .text{
    font-size: 14px;
  }
  .textTitle {
    font-size: 20px;
  }
  .topTwoContainer, .bottomContainer{
    width:90%;
  }
  .layout{
    grid-template-columns: 0.45fr 1fr 0.45fr;
  }

}

@media(max-width: 1150px) {
  .topTwoContainer{
    display: flex;
    flex-direction: column;
  }
  .spending{
    display: flex;
  }
  .uploads_grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .date_mid {
    display: block;
  }
  .date_end{
    display: none;
  }
  .clock{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text {
    font-size: 12px;
  }
  .textTitle {
    font-size: 16px;
    padding: 3px 0 3px 0;
  }
  .sideContainer{
    gap:8px
  }
  /* .spending_text{
    font-size: 16px;
  } */
}

@media (max-width: 1020px) {
  .layout {
    grid-template-columns: 1fr;
  }
  .sideBar{
    display: none;
  }
  .summaryBar{
    display: none;
  }
}

@media(max-width: 450px) {
  .sideBar_btn{
    display: flex;
  }
}

.sideBarOpen{
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  z-index: 100;
}

.closeSidebarBtn{
  display:none;
}
.sideBarbtn{
  display: block;
}

.summaryBarOpen{
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  z-index: 100;
}
.sumBarbtn{
  display: block;
}
.closeSumbarBtn{
  display: none;
}