@import "tailwindcss";

:root {
  --text: #000000;
  --text-h: #08060d;
  --text-orange: #af5811;
  --text-green: #088a7d;
  --sub-text-green: #006B5F;
  --text-light-orange: #b9672c;
  --bg: #d0cddd;
  --bg2: #f08d24;
  --border: #afadb4;
  --code-bg: #d6d6e6;
  --bg-green: #0ba896;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  background-color: #afb0b8;
}


[data-theme="dark"] {
    --text: #ffffff;
    --text-l: #f3f4f6;
    --text-d: #000000;
    --text-orange: #F9913A;
    --text-green: #00A392;
    --sub-text-green: #006B5F;
    --text-light-orange: #FFB783;
    --bg: #1B1B23;
    --border: #46464F;
    --bg2: #B95F00;
    --bg-green: #003731;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    
    background-color: #0f0f0f;
  }


body {
  margin: 0;
}